.Notification {
    background: #d0e4f6;
    gap: 1rem;
    font-size: 13px;
    width: 15rem;
    padding:2rem;
    height:90.6%;
    display: flex;


}

.body{
    margin-left:4rem;
}

.Header {
    position: relative;
    font-size: 20px;
    width: 15rem;
    height: 3%;
    margin: 0;
    padding: 2rem;
    background-color: #0e0e0e;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Notification ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.Notification li {

    font-weight: bold;
    font-size: 16px;
    margin-bottom: 12px;
    width:12rem;
    padding: 10px;
    border-radius: 5px;
    background-color: #aadaf4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Notification li:hover {
    background-color: #ababab;
}


/*.Notification{*/

/*}*/

/*.notification{*/
/*  */
/*}*/


.notification>div>span:nth-of-type(1){
    font-weight: bold;
}

