/*.bg-color{*/
/*    background-color: #9cc9ef;*/
/*}*/




.progress {

    width: 18rem;
    height: 15rem;
    background-color: whitesmoke;
    padding:2rem;
    display: block;
    justify-content: center;
    align-items: center;
}

/* Remove the top and left positioning properties in .P_title */
.P_title {
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    color: #ffffff;
    width: 18rem;
    margin-top: 21rem;
}



.cost{
    width: 18rem;
    height: 10rem;
    padding-top:3rem;
    padding-right:1rem;
    background-color: whitesmoke;
    align-items: center;
    margin:0;

}

.C_title{
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    color: #ffffff;
    width:18rem;
    margin-top: 1rem;


}