/*.bg-color{*/
/*    background-color: #9cc9ef;*/
/*}*/


.progress{
    width: 18rem;
    height: 15rem;
    padding: 1rem;
    background-color: whitesmoke;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.cost{
    width: 18rem;
    height: 15rem;
    padding-top:3rem;
    padding-right:1rem;
    background-color: whitesmoke;
    align-items: center;
    margin:0;

}

.P_title{
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    color: #ffffff;
    width:18rem;
    margin-top:5rem;

    top: 50px;
    left:30px;
}

.C_title{
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    color: #ffffff;
    width:18rem;


}