.cardinfo {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-width: 550px;
  width: fit-content;
  max-width: 650px;
  height: fit-content;
}

.subtask_box {
  padding: 1rem;
  border-radius: 6px;
  width: 700px;
}

.cardinfo_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cardinfo_box_title {
  display: flex;
  gap: 10px;
  align-items: center;
}

.cardinfo_box_title p {
  font-weight: bold;
  font-size: 1.2rem;
}

.cardinfo_box_title svg {
  height: 18px;
  width: 18px;
}

.cardinfo_box_labels {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding:1rem;
}

.cardinfo_box_labels label {
  border-radius: 40px;
  background-color: gray;
  color: #fff;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.cardinfo_box_labels label svg {
  height: 16px;
  width: 16px;
  cursor: pointer;
}

.cardinfo_box ul {
  display: flex;
  gap: 15px;
  margin-left: 20px;
}

.cardinfo_box ul li {
  list-style: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.cardinfo_box ul .li_active {
  box-shadow: 0 0 0 3px yellow;
}


.cardinfo_box_task_list {
  display: flex;
  flex-direction: column;
  gap: 10px;

}




.cardinfo_box input[type="date"] {
  width: fit-content;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  padding: 10px;
}

.taskInput {
  width: 200px; /* Set the desired width */
}


.cardinfo_inline_boxes {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  padding-bottom:1rem;
}

.cardinfo_inline_box {
  flex: 1;
}

.cardinfo_inline_box .cardinfo_box_title {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.cardinfo_inline_box .cardinfo_box_title p {
  margin-left: 5px;
}

.cardinfo_inline_box input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}



.taskDescription {
  border: none;
  border-radius: 3px;
  padding: 8px;
  font-size: 14px;
  line-height: 1.5;
  resize: vertical;
  width: 100%;
  min-height: 32px;
  display: flex;
  flex-direction: column;
  background-color: #ececed;
}


.subtask_table {
  width: 195%;
  border-collapse: collapse;

}


.subtask_table td {
  padding:10px;
  border-bottom: 1.5rem solid #ffffff;
  text-align: left;
}

.subtask_table th {
  background-color: #7ab1e0;
  font-weight: bold;
  padding:10px;
}

.subtask_table input[type="text"],
.subtask_table select {
  width: 100%;
}

.calendar-input {
  display: flex;
  align-items: center;
  gap: 4px;

}

.subtask_box button {
  margin-bottom: 3rem;
  width: 195%;
  padding:5px;
  font-weight: bold;

}


.subtask_card {
  background-color: #c5c9cc;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

}

