:root {
    --yellow: linear-gradient(180deg, #ffffff -146.42%, #78d9aa -46.42%);
    --orange: #7c6af1;
    --black: #242d49;
    --gray: #788097;
    --purple: linear-gradient(180deg, #BB67FF 0%, #C484F3 100%);
    --pink: #50aff6;
    --glass: rgba(255, 255, 255, 0.54);
    --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
    --activeItem: #f799a354;
}

.App {
    /* padding: 0.5rem 3.5rem; */
    color: var(--black);
    background: linear-gradient(
            106.37deg,
            #2c8ee1 29.63%,
            #91faff 51.55%,
            #3b9ce1 90.85%
    );
    height: 100vh;
    display: flex;
    /*align-items: center;*/

    font-family: 'Inter', sans-serif;

}

.AppGlass {
    /*display: grid;*/
    height: 100%;
    width: 100%;
    padding:0.5rem;
    display: flex;
    background-color: var(--glass);
    /*border-radius: 0.4rem;*/
    gap: 16px;
    /*grid-template-columns: 4rem auto 10rem;*/
    overflow: hidden;


}

@media screen and (max-width: 1200px) {
    .AppGlass{
        grid-template-columns: 10% 50% auto;
        overflow-y: scroll;
    }
}

@media screen and (max-width: 768px) {
    .AppGlass{
        grid-template-columns: 1fr;
    }
}


.Sub_Project {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;

}


.back_button{
    position: absolute;
    top: 1px;
    right: 15px;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: #000;
    background: none;

}

.project_title{
    height:40px;
    position: absolute;
    padding:2rem;
    width: 18rem;
    justify-content: center;
    align-items: center;
    display: flex;


}