/* Landing_Page.css */

.landing-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #9dfad0, #094473);
    background-size: cover;
    overflow: auto;
    position: relative;
}

.home-bannerImage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.h1-container {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
}

h3 {
    font-size: 30px;
    margin: 50px;
    color: #bfffe2;
}

button:focus {
    outline: none;
}

button:active {
    background-color: #004080;
}

.add-project-button {
    padding: 8px;
    margin:10px;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 15rem;
}

.sub-projects-container {
    display: flex;
    align-items: center;
    margin-left:20px;
}

.sub-projects-heading {
    margin-right: 10px;
}

.sub-projects-list {
    list-style-type: none;
    padding: 0;
    margin-left: 270px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.sub-project-item {
    margin-bottom: 10px;
    width: calc(50% - 20px); /* Adjust the width as per your preference */
}

.sub-project-button {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    background: none;
    border-width: thin;
    border-color: #5a9d7c;
    cursor: pointer;
    border-radius: 5px;
    min-width: 15rem;
    padding: 8px;
    margin:10px;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background-video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.content-container {
    position: relative;
    z-index: 1;
    /* Add any additional styles for the content container */
}