/* Landing_Page.css */

.landing-page {
    display: flex;
    flex-direction: column;

    height: 100vh;
    width: 250vh;
    background-color: #f2f2f2;
}

.h1-container {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #333333;
}

h3 {
    font-size: 30px;
    margin: 50px;
    color: #666666;
}



button:focus {
    outline: none;
}

button:active {
    background-color: #004080;
}

/* Add additional styles as needed */

.add-project-button{
    padding: 10px 20px;
    margin:80px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background-color: #7c6af1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 15rem;

}

.sub-projects-container {
    display: flex;
    align-items: center;
}

.sub-projects-heading {
    margin-right: 10px;
}


.sub-project-button{
    font-size: 25px;
    margin-left:50px;
    gap:10px;
    font-weight: bold;
    color: black;
    background:none;
    border: none;
    cursor: pointer;
}