/* Landing_Page.css */

.landing-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #f1f1f1, #ffffff);
    background-size: cover;
    background-position: center;
    overflow: auto;
}

.home-bannerImage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.h1-container {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
}

h3 {
    font-size: 30px;
    margin: 50px;
    color: #88d1ff;
}

button:focus {
    outline: none;
}

button:active {
    background-color: #004080;
}

.add-project-button {
    padding: 8px;
    margin:10px;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 15rem;
}

.sub-projects-container {
    display: flex;
    align-items: center;
}

.sub-projects-heading {
    margin-right: 10px;
}

.sub-projects-list {
    list-style-type: none;
    padding: 0;
}

.sub-project-item {
    margin-bottom: 10px;
}

.sub-project-button {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    background: none;
    border-width: thin;
    cursor: pointer;
    border-radius: 5px;
    min-width: 15rem;
    padding: 8px;
    margin:10px;
}
